<h1 class="todopage-title">Todo Manager</h1>
<hr>
<p class="home-content">For being part of our service,</p>
<a href="users/new", class="home-content">SIGN UP here!</a>
<p class="home-content">For enjoying our service,<br><%= link_to "SIGN IN", new_sessions_path%> </p>
