<h1 class="todopage-title">Todo Manager</h1>
<hr>
<p>For being part of our service,</p>
<a href="users/new">SIGN UP here!</a>
<br><br><br>
<p>For enjoying our service,</p>
<a href="/users">SIGN IN</a>
