<article>
    <h1 class="todopage-title">My Todo List</h1>

    <section class="todoinput-bar">
      <input class="todoinput-text" type="text" placeholder="What's Next?" />
      <input class="todoinput-text" type="date" />
      <input class="todoinput-button" type="button" value="Add" />
    </section>

    <%= render partial: "todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue,
      display_date: true,
      display_due_text_only: true
   }%>
   <%= render partial: "todo-section", locals: {
      section_title: "Due Today",
      todos: Todo.due_today,
      display_date: false,
      display_due_text_only: false
   }%>
   <%= render partial: "todo-section", locals: {
      section_title: "Due Later",
      todos: Todo.due_later,
      display_date: true,
      display_due_text_only: false
   }%>



</article>
