.signingpage-title {
  font-size: 38px;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.flash-error {
  color: red;
  margin: 20px auto;
}

.signup-label {
}

.signup-inputbar {
  margin-top: 5px;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 20px;
}

.signup-button {
  margin-top: 10px;
  border: 1px solid;
  padding: 10px 25px;
  border-radius: 20px;
  color: white;
  border: 1px solid gray;
  background-color: gray;
}

.signup-button:hover {
  border: 1px solid rgb(99, 21, 245);
  background-color: rgb(36, 21, 245);
}
