<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Management Web App</title>
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="Todostyles.css" />
  </head>
  <body>
    <h1>My Todo List</h1>
    <article>
      <section>
        <h2>Due Today</h2>
        <p>summit saas project</p>
        <p>call dog catcher</p>
      </section>
      <section>
        <h2>Due Tomorrrow</h2>
        <p>Project Review</p>
      </section>
    </article>
    <div>
      This is to check Box Model
  </body>
</html>
