<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Management Web App</title>
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="Todostyles.css" />
  </head>
  <body>
    <h1 class="todopage-title">My Todo List</h1>
    <article>
      <section class="todosection">
        <h2 class="todosection-title">Due Today</h2>
        <p class="todosection-todo">summit saas project</p>
        <p class="todosection-todo">call dog catcher</p>
      </section>
      <section class="todosection">
        <h2 class="todosection-title">Due Tomorrrow</h2>
        <p class="todosection-todo">Project Review</p>
      </section>
    </article>
</html>
